.product-create-template {
    background: white;
    width: 1024px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* 그림자 */
    margin: 0 auto;
    /* 페이지 중앙 정렬 */
    margin-top: 4rem;
}

.product-create-wrapper {
    padding: 1rem;
    min-height: 5rem;
}

.next-button-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
}